<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="FriendsOfHyva\CheckoutExample\Api\Data\LayoutInterface"
                type="FriendsOfHyva\CheckoutExample\Model\Data\Layout"/>
    <preference for="FriendsOfHyva\CheckoutExample\Api\LayoutRepositoryInterface"
                type="FriendsOfHyva\CheckoutExample\Model\LayoutRepository"/>
</config>
